
<%- include('partials/header'); %>
<h1>Compose</h1><br>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="NewText">Title</label> <br> 
        <input class="form-control" type="text" name="NewText" autocomplete="off" cols="180" rows="1"> 
        <label for="NewPost">Post</label><br>
        <textarea class="form-control" name="NewPost" id="" cols="182" rows="5"></textarea>
    </div>
<div>
    <button class="btn btn-primary" type="submit"name="Button">Publish</button>

</div>

</form>


<%- include('partials/footer'); %>